<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>高校教学督导系统</title>
        <link rel="stylesheet" href="../css/public.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="../css/administrator.css">
    </head>
    <body>
    <!--头部-->
    <header class="publicHeader">
        <h1>高校教学督导系统</h1>
    
        <div class="publicHeaderR">
            <p><span id="hours"></span><span>！</span><span style="color: #fff21b"> 管理员</span> , 欢迎你！</p>
            <a href="../login.html">退出</a>
        </div>
    </header>
    <!--时间-->
    <section class="publicTime">
        <span id="time"></span>
        <p>温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</p>
    </section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="userList.html">用户管理</a></li>
                <li id="active"><a href="courseList.html">课程管理</a></li>
                <li><a href="questionnaireList.html">问卷管理</a></li>
                <li><a href="noticeList.html">公告管理</a></li>
                <li><a href="evaluate.html">评优推优</a></li>
                <li><a href="../login.html">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>课程管理页面 >> 课程修改页面</span>
        </div>
        <div class="providerAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="classId">课堂号：</label>
                    <input type="text" name="classId" id="classId"/>
                    <span>*请输入课堂号，且不能重复</span>
                </div>
                <div>
                    <label for="className">课程名：</label>
                    <input type="text" name="className" id="className"/>
                    <span >*请输入课程名称</span>
                </div>
                <div>
                    <label for="classtype">课程类型：</label>
                    <input type="text" name="classtype" id="classtype"/>
                    <span>*请输入课程类型</span>
                </div>
                
                <div>
                    <label >所属学院：</label>
                    <select name=""  style="width:272px;">
                        <option value="man">--请选择--</option>
                        <option value="">马克思主义学院</option>
                    <option value="">哲学院</option>
                    <option value="">经济学院</option>
                    <option value="">财政税务学院</option>
                    <option value="">法学院</option>
                    <option value="">刑事司法学院</option>
                    <option value="">外国语学院</option>
                    <option value="">新闻与文化传播学院</option>
                    </select>
                    <span >*</span>
                </div>
                <div>
                    <label for="classtime">上课时间：</label>
                    <input type="text" name="classtime" id="classtime"/>
                    <span >*</span>
                </div>               
                <div>
                    <label for="userAddress">上课地点：</label>
                    <input type="text" name="userAddress" id="userAddress"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="data">课容量：</label>
                    <input type="text" name="data" id="data"/>
                    <span >*</span>
                </div>  
                <div class="providerAddBtn">
                    <input type="button" value="保存" onclick="history.back(-1)"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="../js/time.js"></script>

</body>
</html>