<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{common/commonHead::myHead('高校教学督导系统')}"></head>

<body>
<!--头部-->
<div th:replace="common/common_body_head::body_head"></div>
<div th:replace="common/common_time::time"></div>

<!--主体内容-->
<section class="publicMian">
    <div th:replace="admin/left_menu::menu"></div>
    <div class="right">
        <img class="wColck" src="/img/clock.jpg" alt=""/>
        <div class="wFont">
            <h2>管理员</h2>
            <p>欢迎来到高校教学督导系统!</p>
        </div>
    </div>
</section>
<footer class="footer">
</footer>

<div style="text-align:center;">
</div>
</body>
<th:block th:replace="common/common_js::common_js"/>
</html>