<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{common/commonHead::myHead('高校教学督导系统')}"></head>

<body>
<!--头部-->
<div th:replace="common/common_body_head::body_head"></div>
<div th:replace="common/common_time::time"></div>

<!--主体内容-->
<section class="publicMian ">
    <div th:replace="admin/left_menu::menu"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户修改页面</span>
        </div>
        <div class="providerAdd">
            <form action="#">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div>
                    <label for="userName">用户名：</label>
                    <input type="text" name="userName" id="userName" disabled/>
                    <span>*</span>
                </div>
                <div>
                    <label for="nickname">用户昵称：</label>
                    <input type="text" name="nickname" id="nickname"/>
                    <span>*</span>
                </div>

                <div>
                    <label>用户性别：</label>
                    <select name="" id="userSex">
                        <option value="男">男</option>
                        <option value="女" selected>女</option>
                    </select>
                    <span>*</span>
                </div>
                <div>
                    <label for="birthday">出生日期：</label>
                    <input type="text" name="birthday" id="birthday"/>
<!--                    <span>*</span>-->
                </div>
                <div>
                    <label for="userPhone">用户电话：</label>
                    <input type="tel" name="userPhone" id="userPhone"/>
                    <!--                    <span>*</span>-->
                </div>
                <div>
                    <label for="userAddress">用户地址：</label>
                    <input type="text" name="userAddress" id="userAddress"/>
                </div>
                <div>
                    <label for="age">年龄：</label>
                    <input type="number" name="age" id="age"/>
                </div>
                <div>
                    <label>用户级别：</label>
                    <input type="radio" name="userLevel" value="0"/>院级
                    <input type="radio" name="userLevel" value="1"/>校级
                    <span>*</span>
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="button" value="修改" onclick="modifyUser()"/>
                    <input type="button" value="返回" onclick="backToUserList()"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
</body>
<th:block th:replace="common/common_js::common_js"/>
<script src="/javascript/admin/userUpdate.js"></script>
</html>