<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="~{common/commonHead::myHead('高校教学督导系统')}"></head>

<body>
<!--头部-->
<div th:replace="common/common_body_head::body_head"></div>
<div th:replace="common/common_time::time"></div>

<!--主体内容-->
<section class="publicMian">
    <div th:replace="admin/left_menu::menu"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户信息查看页面</span>
        </div>
        <div class="providerView">
            <p><strong>用户编号：</strong><span id="userId"></span></p>
            <p><strong>用户名称：</strong><span id="username"></span></p>
            <p><strong>用户性别：</strong><span id="sex"></span></p>
            <p><strong>出生日期：</strong><span id="birthday"></span></p>
            <p><strong>用户电话：</strong><span id="phone"></span></p>
            <p><strong>用户地址：</strong><span id="address"></span></p>
            <p><strong>用户类型：</strong><span id="userType"></span></p>

            <a href="/page/admin/userList">返回</a>
        </div>
    </div>
</section>
<footer class="footer">
</footer>

</body>
<th:block th:replace="common/common_js::common_js"/>
<script src="/javascript/admin/userView.js"></script>
</html>