.list li:nth-child(1){
    background: url("../img/ck.png") 0  center no-repeat;
}
.list li:nth-child(2){
    background: url("../img/ck.png") 0  center no-repeat;
}
.list li:nth-child(3){
    background: url("../img/kb.png") 0  center no-repeat;
}
.list li:nth-child(4){
    background: url("../img/tx.png") 0  center no-repeat;
}
.list li:nth-child(5){
    background: url("../img/xiugai.png") 0  center no-repeat;
}
.list li:nth-child(6){
    background: url("../img/lb.png") 0  center no-repeat;
}
.list li:nth-child(7){
    background: url("../img/mm.png") 0  center no-repeat;
}
.list li:nth-child(8){
    background: url("../img/tc.png") 0  center no-repeat;
}